@import url("https://asset.commilitia.net/Font/CSS/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

progress, meter, datalist, samp, kbd, pre, pre *, code, code * {
  font-family: "MonoLisa Commilitia", "Sarasa UI SC", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Sarasa UI SC", sans-serif;
  -webkit-font-smoothing: antialiased;
}